/* banner start*/
.banner {
  border-bottom: 1px;
  height: 500px;
  position: relative;
}
.banner-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.banner-text {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
}

.banner-title {
  font-size: 24px;
  margin-bottom: 8px;
}
.banner-desc {
  font-weight: bold;
  font-family: serif;
  font-style: italic;
}

/* baner end */

/* shoes start */
.shoes {
  display: flex;
  background-image: url(https://i.ibb.co/WxCr5K7/sport-shoes.png);
  background-size: 60px;
  padding: 60px;
  gap: 16px;
  margin-bottom: 16px;
}

.shoes-item {
  width: 33%;
  text-align: center;
}
.shoes-item .button {
  margin-top: -24px;
}

.shoes-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  border: 4px solid white;
}

/* shoes end */

/* section start */
.section {
  background-color: grey;
  display: flex;
  gap: 20px;
  padding: 60px;
  margin-bottom: 16px;
}
.section-title {
  margin-bottom: 16px;
  font-size: 20px;
}

.section-image {
  border: 8px double black;
  width: 200px;
  object-fit: cover;
}

/* section end */

/* testimonial start */
.testimonial {
  padding: 16px;
}
.testimonial-container {
  background-color: #222831;
  display: flex;
  padding: 40px 40px 16px 40px;
  color: white;
  gap: 24px;
  border-radius: 16px;
  width: 90%;
  margin: 0 auto;
  transition: 0.2s;
}
.testimonial-container:hover {
  width: 100%;
}
.testimonial-image {
  width: 200px;
  border-radius: 16px;
  border: 4px solid #d65a31;
}
.testimonial-title {
  font-size: 20px;
  margin-bottom: 16px;
  text-decoration: underline;
}

.testimonial-desc {
  margin-bottom: 25px;
  font-size: 20px;
}
.testimonial-author span {
  color: #d65a31;
}
/* testimonial end */

/* tablet device */
@media screen and (max-width: 992px) {
  .shoes {
    flex-direction: column;
  }
  .shoes-item {
    width: 100%;
  }
  /* .shoes-image {
    height: 300px;
  } */
  .section {
    flex-direction: column;
  }
  .section-image {
    width: 100%;
  }
  .testimonial-container {
    flex-direction: column;
  }
  .testimonial-image {
    width: 100%;
  }
}

/* mobile device */
@media screen and (max-width: 576px) {
  .shoes {
    padding: 24px;
  }
  /* .shoes-image {
    height: 200px;
  } */
  .section {
    padding: 24px;
  }
  .testimonial-container {
    padding: 20px;
  }
  .testimonial-desc {
    font-size: 16px;
  }
}
